#details_user {
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/hero_details.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#details {
    width: 500px;
    padding: 20px;
    font-family: 'regular';
    margin: 0 auto 0 100px;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: left;
}

#details h2 {
    font-family: 'bold';
    font-size: 200%;
    margin: 15px 0;
}

#details p {
    margin: 7px 0;
    font-size: 150%;
}